.patch-selector-container {
    width: 29vw;
    padding: 2vw;
    border: 2px solid yellowgreen;
}
.patch-selector-form {


    &__label{
        color:yellowgreen;
    }
    &__select {
        color:yellowgreen;
        width: 20vw;
        border: 1px solid yellowgreen;
        background-color: black;
    }
    &__option {
        color:yellowgreen;

    }
}
.patch-selector-buttons {
    padding-top: 13vw;
    padding-inline: 5vw;
    display: flex;
    &__save-patch {
        width: 20vw;
        height:3vw;
        border-radius: 5px;
        border: 1px solid yellowgreen;
        color: yellowgreen;
        background-color: black;

    }
}