.MuiSlider-track {
    color:yellowgreen;
}
.MuiSlider-thumb {
    color:yellowgreen;
}
.MuiSlider-rail {
    color: yellowgreen;
}
.MuiSlider-markLabel {
    color: yellowgreen !important; // necessary to override default behaviour of component //
}