@use '../../styles/global' as *;



.header {
    display: flex;
    box-sizing: border-box;
    background-color: black;
    height: 15vw;
    &__title-container {
        background-image: url(../../assets/fire.gif);
        display: flex;
        width:50vw;
        justify-content: center;
    }
    &__title{
        color:black;
        font-size: 80px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        align-self:flex-end;
        
    }
}